  <ion-header >
  <ion-toolbar color = "tertiary">
    <ion-title>
      Páginas
    </ion-title >

    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"> </ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="header-row">
    <ion-col size="5">Nome</ion-col>
    <ion-col size="2">Área Restrita</ion-col>
    <ion-col size="2">Login</ion-col>
    <ion-col size="2">Home</ion-col>
    <ion-col size="2">
    </ion-col >
    <ion-col size="2">
    </ion-col >
  </ion-row>
  <ion-row *ngFor="let pagina of paginas" class="data-row">
    <ion-col size="5">{{pagina.nome}}</ion-col>
    <ion-col size="2">{{pagina.areaRestrita ?"Sim" : "Não"}}</ion-col>
    <ion-col size="2">{{pagina.login ? "Sim" : "Não"}}</ion-col>
    <ion-col size="2">{{pagina.home ? "Sim" : "Não"}}</ion-col>
    <ion-col size="2">
      <ion-icon name="create-outline"></ion-icon>
    </ion-col>
    <ion-col size="2">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar color="tertiary">

  </ion-toolbar>
</ion-footer>

