<ion-header >
  <ion-toolbar color = "tertiary">
    <ion-title>
      Administradores
    </ion-title >

    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"> </ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let a of administradores">

    <ion-card-header color="light">
      <ion-card-title>
        {{a.nome}}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-label>Email:</ion-label>
      <ion-item>
        {{a.email}}
        <ion-avatar slot="end">
          <ion-button  color="warning" (click)="alterar(a)">Editar </ion-button>
        </ion-avatar>
        <ion-avatar slot="end">
          <ion-button  color="danger" (click)="excluir(a)">Excluir</ion-button>
        </ion-avatar>
      </ion-item>
    </ion-card-content>
    <ion-card-header></ion-card-header>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="novo()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">

  </ion-toolbar>
</ion-footer>





